In [2]:
#Working with os and the file system
import os

In [6]:
help(os.listdir)

Help on built-in function listdir in module posix:

listdir(path=None)
    Return a list containing the names of the files in the directory.

    path can be specified as either str or bytes.  If path is bytes,
      the filenames returned will also be bytes; in all other circumstances
      the filenames returned will be str.
    If path is None, uses the path='.'.
    On some platforms, path may also be specified as an open file descriptor;\
      the file descriptor must refer to a directory.
      If this functionality is unavailable, using it raises NotImplementedError.

    The list is in arbitrary order.  It does not include the special
    entries '.' and '..' even if they are present in the directory.

In [10]:
os.getcwd() #current working directory

'/home/koome'

In [11]:
os.listdir('.')#relative path

['Untitled15.ipynb',
 '.pki',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Documents',
 'cd',
 'my-project',
 'Music',
 'Untitled1.ipynb',
 'google-chrome-stable_current_amd64.deb',
 'Untitled12.ipynb',
 'climate.txt',
 'anaconda3',
 '.anaconda',
 'Untitled4.ipynb',
 'Untitled11.ipynb',
 '.jupyter',
 '_NUMPY__.ipynb',
 '.profile',
 'Untitled9.ipynb',
 'Downloads',
 'finali_results.txt',
 '.lesshst',
 'Untitled8.ipynb',
 'Project_1',
 '.bash_logout',
 '.bashrc',
 'snap',
 '.gitconfig',
 '.dotnet',
 '.atom',
 '.config',
 'project_1',
 '.java',
 '.conda',
 '.condarc',
 'Untitled3.ipynb',
 '.gnupg',
 'Pictures',
 'Public',
 'data.txt',
 '.ipython',
 '.vscode',
 'Untitled2.ipynb',
 '.ipynb_checkpoints',
 '.ssh',
 'Untitled13.ipynb',
 'Videos',
 'Templates',
 'Untitled.ipynb',
 '.local',
 'Desktop',
 '.android',
 '.bash_history',
 '.cache',
 '.sudo_as_admin_successful',
 '.gnome',
 '.bashrc-anaconda3.bak',
 'Untitled10.ipynb',
 'Untitled14.ipynb']

In [12]:
os.listdir('/usr') #absolute path

['bin',
 'lib64',
 'share',
 'src',
 'games',
 'libexec',
 'sbin',
 'lib',
 'lib32',
 'local',
 'libx32',
 'include']

In [14]:
os.makedirs('./THIS',exist_ok=True) # making a directory . means current directory

In [15]:
os.listdir('.')

['Untitled15.ipynb',
 '.pki',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Documents',
 'cd',
 'my-project',
 'Music',
 'Untitled1.ipynb',
 'google-chrome-stable_current_amd64.deb',
 'Untitled12.ipynb',
 'climate.txt',
 'anaconda3',
 '.anaconda',
 'Untitled4.ipynb',
 'Untitled11.ipynb',
 '.jupyter',
 '_NUMPY__.ipynb',
 '.profile',
 'Untitled9.ipynb',
 'Downloads',
 'finali_results.txt',
 '.lesshst',
 'Untitled8.ipynb',
 'Project_1',
 '.bash_logout',
 '.bashrc',
 'snap',
 '.gitconfig',
 '.dotnet',
 '.atom',
 '.config',
 'project_1',
 '.java',
 '.conda',
 'THIS',
 '.condarc',
 'Untitled3.ipynb',
 '.gnupg',
 'Pictures',
 'Public',
 'data.txt',
 '.ipython',
 '.vscode',
 'Untitled2.ipynb',
 '.ipynb_checkpoints',
 '.ssh',
 'Untitled13.ipynb',
 'Videos',
 'Templates',
 'Untitled.ipynb',
 '.local',
 'Desktop',
 '.android',
 '.bash_history',
 '.cache',
 '.sudo_as_admin_successful',
 '.gnome',
 '.bashrc-anaconda3.bak',
 'Untitled10.ipynb',
 'Untitled14.ipynb']

In [17]:
'THIS' in os.listdir('.') # check if the directory was created

True

In [25]:
#library that facilitates downloading 
import urllib.request

In [26]:
link1 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans1.txt'
link2 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans2.txt'
link3 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans3.txt'

In [28]:
#dowloading using the link
urllib.request.urlretrieve(link1, './THIS/TABLE_1.txt')

('./THIS/TABLE_1.txt', <http.client.HTTPMessage at 0x7f5432e67a90>)

In [29]:
urllib.request.urlretrieve(link2, './THIS/TABLE_2.txt')

('./THIS/TABLE_2.txt', <http.client.HTTPMessage at 0x7f5432b7f358>)

In [30]:
urllib.request.urlretrieve(link3, './THIS/TABLE_3.txt')

('./THIS/TABLE_3.txt', <http.client.HTTPMessage at 0x7f5432b7f780>)

In [31]:
#checking if it was downloaded in the THIS directory
os.listdir('./THIS')

['TABLE_1.txt', 'TABLE_3.txt', 'TABLE_2.txt']

In [47]:
# to read from file
file1=open('./THIS/TABLE_1.txt', mode='r')

In [49]:
file1.read()

'amount,duration,rate,down_payment\n100000,36,0.08,20000\n200000,12,0.1,\n628400,120,0.12,100000\n4637400,240,0.06,\n42900,90,0.07,8900\n916000,16,0.13,\n45230,48,0.08,4300\n991360,99,0.08,\n423000,27,0.09,47200'

In [50]:
read1=file1.read()

In [52]:
print(read1)

In [57]:
file1.close()

In [58]:
file2=open('./THIS/TABLE_2.txt', mode='r')

In [59]:
file2.read()

'amount,duration,rate,down_payment\n828400,120,0.11,100000\n4633400,240,0.06,\n42900,90,0.08,8900\n983000,16,0.14,\n15230,48,0.07,4300'

In [60]:
read2=file2.read()

In [64]:
read2

''

In [ ]:
file2.close()

In [66]:
#open while closing it....the above opened and required closing after the end
with open('./THIS/TABLE_3.txt')as file3:
    file3_contents=file3.read()
    print(file3_contents)

amount,duration,rate,down_payment
45230,48,0.07,4300
883000,16,0.14,
100000,12,0.1,
728400,120,0.12,100000
3637400,240,0.06,
82900,90,0.07,8900
316000,16,0.13,
15230,48,0.08,4300
991360,99,0.08,
323000,27,0.09,4720010000,36,0.08,20000
528400,120,0.11,100000
8633400,240,0.06,
12900,90,0.08,8900

In [67]:
with open('./THIS/TABLE_1.txt') as abc:
    reed1=abc.read()
    print(reed1)

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1,
628400,120,0.12,100000
4637400,240,0.06,
42900,90,0.07,8900
916000,16,0.13,
45230,48,0.08,4300
991360,99,0.08,
423000,27,0.09,47200

In [71]:
abc.read() # cannot read since it is closed

ValueError: I/O operation on closed file.

In [72]:
# reading line by line
with open('./THIS/TABLE_3.txt','r') as f3:
    f3lines=f3.readlines()
    #print(f3lines)

['amount,duration,rate,down_payment\n', '45230,48,0.07,4300\n', '883000,16,0.14,\n', '100000,12,0.1,\n', '728400,120,0.12,100000\n', '3637400,240,0.06,\n', '82900,90,0.07,8900\n', '316000,16,0.13,\n', '15230,48,0.08,4300\n', '991360,99,0.08,\n', '323000,27,0.09,4720010000,36,0.08,20000\n', '528400,120,0.11,100000\n', '8633400,240,0.06,\n', '12900,90,0.08,8900']

In [75]:
#f3lines strips removes the spaces and the new line character
f3lines[0].strip()

'amount,duration,rate,down_payment'

In [89]:
fill3= open('./THIS/TABLE_2.txt','r')
fll3lines=fill3.readlines()

In [90]:
fill3lines

NameError: name 'fill3lines' is not defined

In [80]:
#processing data
def header_parse(header_line):
    return header_line.strip().split(',')

data1=open('./THIS/TABLE_3.txt')
data1read=data1.readlines()

In [96]:
data1read[0]

'amount,duration,rate,down_payment\n'

In [97]:
 headers= header_parse(data1read[0])

In [98]:
headers

['amount', 'duration', 'rate', 'down_payment']

In [111]:
def parse_values(data_lines):
    values=[]
    for item in data_lines.strip().split(','):
        if item=='':
            values.append(0.0)
        else:
            values.append(float(item))
    return values

In [112]:
#use the ones complete table
data1read[1]

'45230,48,0.07,4300\n'

In [113]:
value1=parse_values(data1read[1])

In [114]:
value1

[45230.0, 48.0, 0.07, 4300.0]

In [116]:
parse_values(data1read[2])

[883000.0, 16.0, 0.14, 0.0]

In [118]:
def item_dictionary(values, headers):
    results={}
    for value, header in zip(values, headers):
        results[header]=value
    return results

In [119]:
value1

[45230.0, 48.0, 0.07, 4300.0]

In [120]:
headers

['amount', 'duration', 'rate', 'down_payment']

In [123]:
item_dictionary(value1, headers)

{'amount': 45230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}

In [142]:
# read csv file
def read_csv(path):
    results=[]
    with open (path, 'r' ) as file:
        lines=file.readlines()
        headers=header_parse(lines[0])
        for lines_data in lines [1:]:
            values=parse_values(lines_data)
            all_dictionary= item_dictionary(values, headers)
            results.append(all_dictionary)
    return results

In [143]:
with open('./THIS/TABLE_1.txt') as filee:
    print(filee.read())

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1,
628400,120,0.12,100000
4637400,240,0.06,
42900,90,0.07,8900
916000,16,0.13,
45230,48,0.08,4300
991360,99,0.08,
423000,27,0.09,47200

In [144]:
read_csv('./THIS/TABLE_1.txt')

[{'amount': 100000.0, 'duration': 36.0, 'rate': 0.08, 'down_payment': 20000.0},
 {'amount': 200000.0, 'duration': 12.0, 'rate': 0.1, 'down_payment': 0.0},
 {'amount': 628400.0,
  'duration': 120.0,
  'rate': 0.12,
  'down_payment': 100000.0},
 {'amount': 4637400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 42900.0, 'duration': 90.0, 'rate': 0.07, 'down_payment': 8900.0},
 {'amount': 916000.0, 'duration': 16.0, 'rate': 0.13, 'down_payment': 0.0},
 {'amount': 45230.0, 'duration': 48.0, 'rate': 0.08, 'down_payment': 4300.0},
 {'amount': 991360.0, 'duration': 99.0, 'rate': 0.08, 'down_payment': 0.0},
 {'amount': 423000.0, 'duration': 27.0, 'rate': 0.09, 'down_payment': 47200.0}]